.App {
  text-align: center;
  min-height: calc(100vh - 60px);
  background-color: rgb(52, 87, 151);
  box-shadow: 0 0 15px 5px rgb(24, 24, 24);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (orientation : landscape){
  .App-header {
      width: 70%;
      height: 100vh;
      background-color: rgb(255, 255, 255);
      margin: auto;
      box-shadow: 0 0 20px 5px rgb(24, 28, 49);
  }
}

.body {
  padding-top: 20px;
}

@media (orientation : portrait){
  .App-header{
      width: 85%;
      height: 100vh;
      background-color: rgb(255, 255, 255);
      margin: auto;
      box-shadow: 0 0 20px 5px rgb(24, 28, 49);
  }
  
}